<h1>Create a New Song</h1>

<%= form_for @song do |f|%>
   <%= f.label :name %>
   <%= f.text_field :name%>
   <br>
   <%= f.label :artist %>
   <%  %>
   <br>
   <%= f.label :name %>
   <%= f.text_field :name%>
   <br>

<% end %>

